*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: aliceblue;
}
.container{
    width: 80%;

    margin: 10px auto;
}

.mc-card{
    background-color: lightblue;
    width: 50%;
    margin: 30px auto;
    text-align: center;
}
